/* css styles */
body {
    font-family: Arial, sans-serif;
}

.course-block {
    margin-top: 1em;
    margin-bottom: 1em;
}

.course-title {
    font-size: 20px;
    font-weight: bold;
}

.course-info {
    font-size: 16px;
    color: #555;
}

.course-description {
    font-size: 14px;
    color: #333;
}

/* Style for the horizontal line */
.hr {
    border: none;
    height: 1px;
    background-color: #ccc; /* Light grey line */
    margin-top: 1em; /* Space above the line */
    margin-bottom: 1em; /* Space below the line */
}

strong {
  color: #000 !important;
  font-weight: 700 !important;
}